<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="bookMapper">

	<!-- 검색 키워드에 일치하는지 -->
	<select id="selectByTitleAuthor" parameterType="string"
		resultType="HashMap">
	  <![CDATA[
		select book.book_no, book.title, book.img_path, book.running_time, author.name , book.buyLink
		from book join author
		on book.author_no = author.author_no 
		where book.title  LIKE concat( '%', #{keyword},'%') or 
		author.name LIKE concat('%', #{keyword} ,'%');
	  ]]>
	</select>


	<!-- 날짜를 기준으로 리스트생성 -->
	<select id="selectAllOrderByDate" resultType="HashMap" parameterType="long">
		<![CDATA[
		select book.img_path,
 		book.book_no,
 		book.buyLink,
 		book.title,
 		book.book_no,
 		author.name, 
 		book.running_time, 
 		book.audio_check,
 		library.user_no,
 		library.progress
		from book join author on  book.author_no = author.author_no
		left join library
		on library.book_no=book.book_no and library.user_no=#{userNo} or library.user_no=null
		order by book.reg_date desc;
		]]>
	</select>


	<!-- 카테고리 트렌드 책 6개 가져오기 selectAllCategoryOrderByCount -->
	<select id="selectAllCategoryOrderByCount"
		parameterType="string" resultType="HashMap">
		<![CDATA[
		SELECT book.title, book.book_no, book.img_path, book.buyLink ,book.running_time, author.name ,count(library.user_no) as cnt
		FROM book JOIN library
		ON library.book_no=book.book_no
		JOIN author
		ON author.author_no=book.author_no
		WHERE book.category=#{category}
		GROUP BY book_no ORDER BY cnt DESC LIMIT 6
		]]>
	</select>


	<!-- 카테고리 최신 추가된 책 6권 selectAllCategoryOrderByDate -->
	<select id="selectAllCategoryOrderByDate" parameterType="string"
		resultType="HashMap">
		<![CDATA[
		SELECT book.title, book.book_no, book.img_path, book.buyLink ,book.running_time, author.name 
		FROM book JOIN author
		ON author.author_no=book.author_no
		WHERE book.category=#{category}
		ORDER BY book.reg_date DESC LIMIT 6
		]]>
	</select>


	<!-- 카테고리에 포함된 오디오가 있는 책 6권 selectAllCategoryIncludeAudio -->
	<select id="selectAllCategoryIncludeAudio"
		parameterType="string" resultType="HashMap">
		<![CDATA[
		SELECT book.title, book.book_no, book.buyLink ,book.img_path, book.running_time, author.name 
		FROM book JOIN author
		ON author.author_no=book.author_no
		WHERE book.category=#{category} and Audio_check=0
		ORDER BY title LIMIT 6
		]]>
	</select>


	<!-- 카테고리에 해당하는 모든 책 가져오기 -->
	<select id="selectAllCategory" parameterType="string"
		resultType="HashMap">
		<![CDATA[
			select book.book_no, book.title, author.name
			from book, author
			where book.author_no=author.author_no
			and book.category=#{category}
			order by book.title;
		]]>
	</select>


	<!-- 전체 조회수를 기준으로 리스트생성 -->
	<select id="selectAllOrderByCount" resultType="HashMap" parameterType="long">
		<![CDATA[
		select custom.*, library.progress from library join
			(SELECT book.title, book.buyLink, book.book_no, book.img_path, book.running_time, author.name ,max(library.user_no) as user_no,cnttable.cnt
			FROM book 
			join library
			ON library.book_no=book.book_no
        	JOIN author
			ON author.author_no=book.author_no
        	JOIN (select book_no as bno, count(book_no) as cnt from library group by book_no) as cnttable
        	on book.book_no=cnttable.bno
        	where library.user_no<=#{userNo}
        	group by book.book_no
        	order by book_no
			) as custom
		on library.user_no=custom.user_no and library.book_no=custom.book_no
		order by custom.cnt desc limit 6;
		]]>
	</select>


	<!-- 한달간 가장 많이 조회된 데이터 가져오기 -->
	<select id="selectOrderBySpotlight" resultType="HashMap" parameterType="long">
		<![CDATA[
			select custom.*, library.progress from library join
			(SELECT book.title,book.buyLink, book.book_no, book.img_path, book.running_Time, author.name ,max(library.user_no) as user_no,cnttable.cnt
			FROM book 
			join library
			ON library.book_no=book.book_no
        	JOIN author
			ON author.author_no=book.author_no
      		JOIN (select book_no as bno, count(book_no) as cnt from library where reg_date BETWEEN DATE_ADD(now(), INTERVAL-1 MONTH) AND now() group by book_no ) as cnttable
        	on book.book_no=cnttable.bno
        	where library.user_no<=#{userNo}
        	group by book.book_no
        	order by book_no
			) as custom
			on library.user_no=custom.user_no and library.book_no=custom.book_no
			order by custom.cnt desc limit 6;
		]]>
	</select>


	<!-- 최근에 한달에 추가된 것중 인기 많은 순 -->
	<select id="selectOrderByRecentlryAddedHot" resultType="HashMap" parameterType="long">
		<![CDATA[
			select custom.*, library.progress from library join
			(SELECT book.title,book.buyLink, book.book_no, book.img_path, book.running_Time, author.name ,max(library.user_no) as user_no,cnttable.cnt
			FROM book 
			join library
			ON library.book_no=book.book_no and book.reg_Date BETWEEN DATE_ADD(now(), INTERVAL-1 MONTH) AND now() 
        	JOIN author
			ON author.author_no=book.author_no
        	JOIN (select book_no as bno, count(book_no) as cnt from library group by book_no) as cnttable
        	on book.book_no=cnttable.bno
        	where library.user_no<=#{userNo}
        	group by book.book_no
        	order by book_no
			) as custom
			on library.user_no=custom.user_no and library.book_no=custom.book_no
			order by custom.cnt desc limit 6;
		]]>
	</select>


	<!-- book_no로 책검색 -->
	<select id="selectByBook_no" parameterType="long"
		resultType="HashMap">
		<![CDATA[
		select *
		from book, author
		where book.author_no = author.author_no and 
		book.book_no=#{no};
		]]>
	</select>


	<!-- 라이브러리 기록 가져오기 selectLibraryLog -->
	<select id="selectLibraryLog" parameterType="HashMap"
		resultType="HashMap">
		<![CDATA[
			select library.user_no, book.title,  library.book_no, book.img_path, book.running_time, author.name
			from book,author,library,user
			where book.author_no=author.author_no and
			user.user_no=library.user_no and
			book.book_no=library.book_no and 
			book.book_no not in (select book_no from library where user_no=#{user_no} and book_no!=#{bookNo})
			order by library.user_no, library.reg_date;  
		]]>
	</select>


	<!-- 제목,작가이름 , category로 검색 selectByTitleAuthorCategory -->
	<select id="selectByTitleAuthorCategory" parameterType="HashMap"
		resultType="HashMap">
		<![CDATA[
		select *
		from book, author
		where book.author_no = author.author_no and 
		book.title=#{title} and book.category=#{category} and author.name=#{authorName};
		]]>
	</select>


	<!-- 책을 book table에 저장 -->
	<insert id="insertBook" parameterType="bookvo">
		<![CDATA[
		insert into book values(null,#{title},0,0,#{buyLink},#{synopsis},#{category},"test",#{img_path},0,now(),#{author_no},#{subtitle})
		]]>
	</insert>


	<!-- 회원이 가장 많이 구독한 카테고리 찾기 -->
	<select id="maxCategory" parameterType="long"
		resultType="String">
       <![CDATA[
           select max( book.category)
           from book,library
           where book.book_no=library.book_no and user_no=#{user_no};
		]]>
	</select>


	<!-- 회원의 라이브러리에 없는 카테고리 트렌드 책 3개 가져오기 -->
	<select id="customtrandBook" parameterType="HashMap"
		resultType="HashMap">
       <![CDATA[
          SELECT book.title, book.book_no, book.img_path, book.running_time, author.name ,count(library.user_no) as cnt
		  FROM book JOIN library
		  ON library.book_no=book.book_no
		  JOIN author
		  ON author.author_no=book.author_no
		  WHERE book.category=#{category} and book.book_no NOT IN (select book_no from library where user_no=#{user_no})
		  GROUP BY book_no ORDER BY cnt DESC LIMIT 3;
		]]>
	</select>
</mapper>