<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bookMapper">

	<select id="selectByTitleAuthor" parameterType="string"
		resultType="HashMap">
		<![CDATA[
		select book.book_no, book.title, book.img_path, book.running_time, author.name 
		from book, author
		where book.author_no = author.author_no and 
		book.title  LIKE concat( '%', #{keyword},'%') or 
		author.name LIKE concat('%', #{keyword} ,'%');
		]]>
	</select>
	
	
	<select id="selectByBook_no" parameterType="long"
		resultType="HashMap">
		<![CDATA[
		select *
		from book, author
		where book.author_no = author.author_no and 
		book.book_no=#{no};
		]]>
	</select>
	
	
	<!-- 책을 book table에 저장 -->
	<insert id="insertBook" parameterType="bookvo">
		<![CDATA[
		insert into book values(null,#{title},0,0,#{buyLink},#{synopsis},#{category},"test",#{img_path},0,now(),#{author_no},#{subtitle})
		]]>
	</insert>

</mapper>
