<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="libraryCountMapper">


	<!-- 책 라이브러리 추가시 기록 남기기 -->
	<insert id="insertCount" parameterType="long">
		<![CDATA[
			insert 
			into librarycount
			values(null, now(), 1, #{book_no})
		]]>
	</insert>

</mapper>