<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	<!-- 회원가입 -->
	<insert id="insert" parameterType="uservo">
		<![CDATA[
			insert 
			into user
			values(null, #{email}, #{password}, #{grade}, now(), null, null,null)
		]]>
	</insert>


	<!-- 이메일 중복확인 -->
	<select id="findByEmail" parameterType="string"
		resultType="uservo">
		<![CDATA[
			select email,user_no,password,grade,primium_date,finish_date
			  from user
			where email = #{email}
		]]>
	</select>


	<!-- 회원정보가져오기 -->
	<select id="selectbyUser" parameterType="string"
		resultType="uservo">
		<![CDATA[
			select email,grade,primium_date,finish_date,payment_method
			  from user
			where email = #{email}
		]]>
	</select>


	<!-- 비밀번호변경 -->
	<update id="updatePw" parameterType="HashMap">
		<![CDATA[
			update user
			 set 
			   password=#{newpassword}
			 where
			  email=#{email} and password=#{oldpassword}
		]]>
	</update>
	
	
	<!-- 회원등급수정 -->
	<update id="updategrade" parameterType="uservo">
		<![CDATA[
			update user
			 set 
			   grade=#{grade},primium_date=#{primium_date},finish_date=#{finish_date},payment_method=#{payment_method}
			 where
			  email=#{email}
		]]>
	</update>
	
	
	<!-- primium날짜가 지났다면 회원의 등급과 premium_date날짜를 바꿔준다. -->
		<update id="PassPrimium" parameterType="uservo">
		<![CDATA[
			update user
			 set 
			   grade=#{grade},primium_date=null,finish_date=#{finish_date}=null,payment_method=null
			 where
			  email=#{email}
		]]>
	</update>


	<!-- 회원탈퇴 -->
	<delete id="deleteUser" parameterType="String">
		<![CDATA[
			delete
			  from user
			where
			  email = #{email}
		]]>
	</delete>
</mapper>