<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="userMapper">
	<!-- 회원가입 -->
	<insert id="insert" parameterType="uservo">
		<![CDATA[
			insert 
			into user
			values(null, #{email}, #{password}, #{grade}, now(), null)
		]]>
	</insert>


	<!-- 이메일 중복확인 -->
	<select id="findByEmail" parameterType="string"
		resultType="uservo">
		<![CDATA[
			select email,user_no,password,grade
			  from user
			where email = #{email}
		]]>
	</select>


	<!-- 회원정보가져오기 -->
	<select id="selectbyUser" parameterType="string"
		resultType="uservo">
		<![CDATA[
			select email,grade
			  from user
			where email = #{email}
		]]>
	</select>


	<!-- 비밀번호변경 -->
	<update id="updatePw" parameterType="HashMap">
		<![CDATA[
			update user
			 set 
			   password=#{newpassword}
			 where
			  email=#{email} and password=#{oldpassword}
		]]>
	</update>


	<!-- 회원탈퇴 -->
	<delete id="deleteUser" parameterType="String">
		<![CDATA[
			delete
			  from user
			where
			  email = #{email}
		]]>
	</delete>
</mapper>