@charset "EUC-KR";


hr{
	
	/* hr태그 배경색 */
	background-color: #33FF33;
		
}


#Sort{
	
	/* Sort메뉴는 비활성화 */
	pointer-events: none;
    cursor: default;
	
}


#h4{
	
	/* 책 제목 글씨굵기 */
	font-weight: bolder;
	
	/* 폰트크기 */
	font-size : 1.5rem; 
	
  }


#chapter{
	
	/* 챕터번호 굵기 */
	font-weight: bolder; 
	
	/* 챕터번호 글자색 */
	color: #3366FF;
	
	/* 글자크기 */
	font-size : 1.5rem; 
	
}


#chapter_title{
	
	/* 글자크기 */
	font-size : 1rem; 
	
}


#Delete_Chapter{
	
	/*  글씨굵기 */
	font-weight: bolder; 
	

	
}


#Date_title{
	
	/* 폰트컬러 */
	color: #999999;
		
    /* 글자크기 */
	font-size : 1rem; 
	
}


#Delete_Date{
	
	/*  글씨굵기 */
	font-weight: bolder; 
	
}