<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">



 <!-- inventory DB를 사용하기 위한 코드 -->   
 <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
    <property name="url" value="jdbc:mysql://localhost:3306/inventory?characterEncoding=utf8&amp;serverTimezone=UTC"/>
    <property name="username" value="root"/>
    <property name="password" value="1234"/>  
</bean>


<!-- MyBatis SqlSessionFactoryBean --> 
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"> 
		<property name="dataSource" ref="dataSource" /> 
		<property name="configLocation" value="classpath:mybatis/configuration.xml" /> 
	</bean>

	<!-- MyBatis SqlSessionTemplate --> 
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory" />
	</bean>
	
	
<!-- user bean등록 -->	
<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="com.example.Dao.UserDao"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>

<bean id="userService" class="com.example.service.UserService">
   <property name="userDao" ref="userMapper"/>
</bean>


<!-- goods bean등록 -->	
<bean id="goodsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="com.example.Dao.GoodsDao"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>

<bean id="goodsService" class="com.example.service.GoodsService">
   <property name="goodsDao" ref="goodsMapper"/>
</bean>


<!-- management bean등록 -->	
<bean id="managementMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="com.example.Dao.ManagementDao"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>

<bean id="managementService" class="com.example.service.ManagementService">
   <property name="managementDao" ref="managementMapper"/>
</bean>


<!-- statistics bean등록 -->	
<bean id="statisticsMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
  <property name="mapperInterface" value="com.example.Dao.StatisticsDao"/>
  <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
</bean>

<bean id="statisticsService" class="com.example.service.StatisticsService">
   <property name="StatisticsDao" ref="statisticsMapper"/>
</bean>

<!-- 서버에 이미지 파일 가져오기 위해서 mapping작성 --> 
<mvc:resources mapping="/img/**" location="C:\Users\Kim jisu\Desktop\졸업작품 workspace\InventoryManagement\src\main\webapp\goods_Image"/>




<context:annotation-config />

	<context:component-scan base-package="com.example.service, com.example.Dao">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Service" />
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Component" />			
	</context:component-scan>

</beans>	